<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K295PS5');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Hellen Monarcha" />
    <title>Hellen Monarcha - Projetos</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/assets/elemento-hellen-monarcha-sm.ico" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
    <meta property="og:locale" content="pt_br" />
    <meta property="og:title" content="Hellen Monarcha - Projetos" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="https://hellenmonarcha.com.br/static/assets/elemento-hellen-monarcha-sm.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="700">
    <meta property="og:description" content="Psicanálise & Hipnoterapia" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Hellen Monarcha" />
</head>

<body class="d-flex flex-column h-100 bg-light">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K295PS5" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <!-- <a class="navbar-brand" href="/home"><span class="fw-bolder text-primary">Hellen
                        Monarcha </span></a> -->
                <a class="navbar-brand" href="/home">
                    <picture>
                        <source media="(max-width: 468px)" srcset="static/assets/elemento-hellen-monarcha-sm.png">
                        <source media="(max-width: 768px)" srcset="static/assets/elemento-hellen-monarcha-md.png"
                            width="100em">
                        <img src="static/assets/elemento-hellen-monarcha-bg.png" alt="assinatura hellen monarcha"
                            width="100em">
                    </picture>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/home">Início</a></li>
                        <li class="nav-item"><a class="nav-link" href="/quemsou">Conheça</a></li>
                        <li class="nav-item"><a class="nav-link" href="/artigos">Artigos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/projetos">Projetos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Projects Section-->
        <section class="py-5">
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projetos</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Project Card 5-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h3 class="fw-bolder">Saúde Mental e Setembro Amarelo
                                        </h3>
                                        <p>Palestra proferida para biomédicos e gestores do Centro Biomédico de Diagnósticos, 
                                            na unidade do Hospital Abelardo Santos no distrito de Icoaraci Setembro - 2023</p>
                                    </div>
                                    <img class="img-fluid" src="hellen-homepage\static\assets\projetos\saude-mental-setembro-amarelo-2023.jpgr"
                                        alt="..." />
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 4-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h3 class="fw-bolder">Comunicação Não Violenta e Relacionamentos Assertivos no
                                            Serviço Público
                                        </h3>
                                        <p>Curso ministrado para servidores públicos de Ananindeua-PA por meio da EGPA
                                            (Escola de Governança Pública de Ananindeua) em Julho-2023</p>
                                    </div>
                                    <img class="img-fluid" src="static/assets/projetos/comunicacao-nao-violenta.png"
                                        alt="..." />
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 3-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h3 class="fw-bolder">Inteligência Emocional no Cotidiano do Servidor Público
                                        </h3>
                                        <p>Curso ministrado para servidores públicos de Ananindeua-PA por meio da EGPA
                                            (Escola de Governança Pública de Ananindeua) em Maio-2023</p>
                                    </div>
                                    <img class="img-fluid" src="static/assets/projetos/inteligencia-emocional.png"
                                        alt="..." />
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 2-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h3 class="fw-bolder">Como Alcançar a Inteligência Emocional através da Hipnose
                                        </h3>
                                        <p>Curso ministrado para os membros da Sociedade de Hipnologia do Pará Dezembro
                                            - 2022</p>
                                    </div>
                                    <img class="img-fluid"
                                        src="static/assets/projetos/como-alcancar-inteligencia-emocional.png"
                                        alt="..." />
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 1-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h3 class="fw-bolder">Inteligência Emocional</h3>
                                        <p>Curso ministrado dentro do curso de formação para novos policiais municipais
                                            em Ananindeua-PA Novembro-2022</p>
                                    </div>
                                    <img class="img-fluid"
                                        src="static/assets/projetos/inteligencia-emocional-guardas-municipais.png"
                                        alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">Treina tua equipe!</h2>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/contato">Entra em
                        contato</a>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0">Copyright &copy; E R S Cardozo Negócios Digitais LTDA 2023</div>
                </div>
                <div class="col-auto">
                    <a class="small" href="/privacy">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="/terms">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="/contato">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="static/js/scripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://wa.me/559132385464" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
            z-index:1000;" target="_blank">
        <i style="margin-top:16px" class="fa fa-whatsapp"></i>
</body>

</html>